// Colors
$color-white: #FFFFFF;
$color-black: #111111;
$color-grey: #575757;
$color-grey-light: #E1E1E1;
$color-orange: #FF9514;

// Device
$desktop-width-lg: 1440px;
$desktop-width-min: 1120px;
$desktop-width-max: 1439px;
$tablet-width-min: 768px;
$tablet-width-max: 1119px;
$mobile-width-min: 320px;
$mobile-width-max: 767px;