@import 'styles/helpers/variables.scss';

.calculation,
.information {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }
}

.calculation {
  margin-bottom: 44px;
}

.information {
  @media (max-width: $tablet-width-max) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.button {
  width: 426px;
  height: 68px;
  padding: 8px 16px 12px;
  background: $color-orange;
  font-family: 'Nekst-Black';
  font-weight: 900;
  border-radius: 40px;
  font-size: 30px;
  line-height: 36px;
  color: $color-white;
  border: none;
  cursor: pointer;

  &:hover {
    background: $color-black;
  }

  &:active {
    background: $color-grey;
  }

  &:disabled {
    background: rgba(255, 149, 20, 0.4);
    cursor: auto;
  }

  @media (max-width: $desktop-width-max) {
    width: 320px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 22px;
    line-height: 20px;
    width: 280px;
    height: 60px;
  }
}
