@import 'styles/helpers/variables';

.calculation,
.information {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  align-items: center;

  @media (max-width: $tablet-width-max) {
    flex-direction: column;
  }
}

.calculation {
  margin-bottom: 44px;
}

.information {
  @media (max-width: $tablet-width-max) {
    flex-flow: row wrap;
  }
}

.button {
  width: 426px;
  height: 68px;
  padding: 8px 16px 12px;
  background: $color-orange;
  font-family: Nekst-Black, sans-serif;
  font-weight: 900;
  border-radius: 40px;
  font-size: 30px;
  line-height: 36px;
  color: $color-white;
  border: none;
  cursor: pointer;
  position: relative;

  @media (max-width: $desktop-width-max) {
    width: 320px;
  }

  @media (max-width: $mobile-width-max) {
    font-size: 22px;
    line-height: 20px;
    width: 280px;
    height: 60px;
  }

  &:hover {
    background: $color-black;
  }

  &:active {
    background: $color-grey;
  }

  &:disabled {
    background: $color-orange-disabled;
    cursor: auto;
  }
}

.spinner {
  color: transparent;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    border: 2px solid $color-white;
    width: 21px;
    height: 21px;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
