@import 'styles/helpers/variables.scss';

.wrapper {
  max-width: 425px;
  width: 100%;
  display: flex;
  flex-direction: column;

  @media (max-width: $desktop-width-max) {
    max-width: 320px;
  }

  @media (max-width: $tablet-width-max) {
    max-width: 696px;
  }
}

.label {
  color: $color-grey;
  margin-bottom: 24px;

  @media (max-width: $mobile-width-max) {
    font-size: 14px;
    line-height: 19px;
    color: $color-graphit;
  }
}

.inputWrapper {
  background: #f3f3f4;
  border-radius: 16px;
  padding: 16px 24px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  outline: none;
  display: flex;
  position: relative;
  height: 64px;
  border: 2px solid transparent;

  &:active, &:focus {
    background: $color-white;
    border: 2px solid #F3F3F4;
    border-radius: 16px;

    & .input {
      background: $color-white;
    }
  
  }

  &:hover .range {
    &::-moz-range-thumb {
      width: 24px;
      height: 24px;
    }
    &::-moz-range-progress {
      height: 1px;
    }
  }
}

.input {
  max-width: 355px;
  width: 100%;
  background: #f3f3f4;
  color: $color-grey;
  border-radius: 16px;
  font-size: 30px;
  line-height: 36px;
  outline: none;
  border: none;
  -moz-appearance: textfield;
  display: block;

  &:hover,
  &:focus {
    -moz-appearance: number-input;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media (max-width: $desktop-width-max) {
    max-width: 245px;
  }

  @media (max-width: $tablet-width-max) {
    max-width: 490px;
  }

  @media (max-width: $mobile-width-max) {
    max-width: 205px;
    font-size: 22px;
line-height: 20px;
    color: $color-graphit;
  }
}


.rate {
  width: 69px;
  height: 54px;
  background: #ebebec;
  padding: 15px 17px;
  margin: -13px -17px -11px auto;
  font-size: 20px;
}

.range {
  position: absolute;
  content: '';
  bottom: -1px;
  height: 1px;
  left: 24px;
  right: 24px;
  width: -moz-available;
  background-color: $color-grey-light;
  cursor: pointer;

  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: $color-orange;
    border: none;
    border-radius: 50%;
  }

  &::-moz-range-progress {
    background: $color-orange;
    height: 2px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &:hover {
      height: 1px;
    }
  }
}

.price {
  position: absolute;
  top: 12px;
  right: 24px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $color-grey;

  @media (max-width: $mobile-width-max) {
    color: $color-graphit;
    font-size: 22px;
    line-height: 20px;
    top: 18px;
    right: 20px;
  }
}

.percent {
  position: absolute;
  top: 18px;
  right: 23px;
  font-size: 20px;
  line-height: 24px;
  color: $color-grey;

  @media (max-width: $mobile-width-max) {
    color: $color-graphit;
  }
}

.disabled {
    color: $color-grey;
    background-color: #F3F3F4;
    opacity: 0.5;
}