@import 'styles/helpers/variables.scss';

.wrapper {
  width: 427px;
  display: flex;
  flex-direction: column;
  // position: relative;
}

.label {
  color: $color-grey;
  margin-bottom: 24px;
}

.inputWrapper {
  background: #f3f3f4;
  border-radius: 16px;
  padding: 16px 24px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  outline: none;
  display: flex;
  position: relative;
}

.input {
  background: #f3f3f4;
  color: $color-grey;
  border-radius: 16px;
  font-size: 30px;
  line-height: 36px;
  color: $color-grey;

  outline: none;

  border: none;
  -moz-appearance: textfield;

  display: block;

  &:hover,
  &:focus {
    -moz-appearance: number-input;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.rate {
  width: 69px;
  height: 54px;
  background: #ebebec;
  padding: 15px 17px;
  margin-left: auto;
  margin-top: -11px;
  margin-bottom: -11px;
  font-size: 20px;
}

.range {
  position: absolute;
  content: '';
  bottom: 0px;
  height: 1px;
  left: 24px;
  right: 24px;
  width: -moz-available;
  background-color: $color-grey-light;

  outline: none;
  transition: 0.3s;
  -webkit-appearance: none;

  &::-webkit-slider-thumb,
  &::-moz-range-thumb {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: $color-orange;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }

  &::-moz-range-progress {
    background: $color-orange;
    height: 2px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
}

.price {
  position: absolute;
  top: 16px;
  right: 24px;
  font-family: 'Nekst-Black';
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: $color-grey;
}

.percent {
  position: absolute;
  top: 20px;
  right: 37px;
  font-size: 20px;
  line-height: 24px;
  color: $color-grey;
}
